<%= link_to @user.username, @user %> &raquo;
<%= link_to @project.title, user_project_path( @user,@project ) %>
<br>
<br>
<h3><%= @project.title %></h3>

<% if current_user %>
  <%= link_to 'Edit', edit_user_project_path( @user, @project )%>
  <%= link_to 'Delete', user_project_path( @user, @project ), method: :delete %>
  <br>
<% end %>

<div class='project__description'>
  <%= @project.description && markdown(@project.description).html_safe %>
</div>

<div class='comments'>
  <h3>Comments</h3>
  <% if current_user %>
  <%= form_for [@user,@project, @comment] do |f| %>
    <%= f.text_area :body , placeholder: 'Enter new comment...'%>
    <%= f.submit %>
  <% end %>
  <% else %>
    <%= link_to 'Log In to comment', new_user_session_path %>
  <% end %>
  <% @comments.each do |comment| %>
    <div class='comment'>
      <%= image_tag comment.user.gravatar_url %>
      <%= comment.user.username %>
      <%= comment.body %>
      <% if (current_user && current_user.id == comment.user_id) || @project.user_id == comment.user_id  %>
        <%= link_to 'Delete', user_project_comment_path( current_user, @project, comment), method: :delete %>
      <% end %>
    </div>
  <% end %>
</div>
